<section class="cards-comp" [ngClass]="(selectedLanguage === arabicLanguageText) ? 'cards-rtl-layout': ''">
    <div class="cards-comp__wrapper">
        <div class="container cards-comp__wrapper__container padding-lrn margin-lrn">
            <div class="row cards-comp__wrapper__container__body-wrapper margin-lrn"
                *ngIf="!showPaymentView && !showTransferView">
                <div class="col-sm-12 padding-lrn cards-comp__wrapper__container__body-wrapper__body"
                    *ngIf="selectedComponent==='cardsList'">
                    <app-cards-list (cardSelectionStatus)="cardSelectionStatus($event)"></app-cards-list>
                    <div class="row margin-lrn cards-comp__wrapper__container__body-wrapper__body__component-container">
                        <div class="col-12 col-lg-4">
                            <app-quick-links class="quick-links-wrapper" [quickLinksData]="quickLinksData"
                                (clickedItem)="handleQuickLinkEvent($event)">
                            </app-quick-links>
                        </div>
                        <div class="col-12 col-lg-8">
                            <app-marketing-banner></app-marketing-banner>
                        </div>
                    </div>
                </div>
                <!-- app-debit-card-details -->
                <app-debit-card-details *ngIf="selectedComponent=='debitCardDetails'"
                    (backButtonClicked)="onBackButtonClicked()"></app-debit-card-details>
                <!-- app-cover-limit -->
                <app-cover-limit *ngIf="selectedComponent=='CoverLimitComponent'"
                    (backButtonClicked)="handleCoverLimitBackButtonClick($event)"></app-cover-limit>
                <!-- app-cover-card-details -->
                <app-cover-card-details (backButtonClicked)="onBackButtonClicked()"
                    (selectedQuickLink)="selectedQuickLink($event)" *ngIf="selectedComponent==='coverCardDetails'"
                    (showPaymentView)="showPaymentToCardView(true, $event)">
                </app-cover-card-details>
                <app-activate-card (backButtonClicked)="onBackButtonClicked()"
                    *ngIf="selectedComponent==='activateCard'"></app-activate-card>
            </div>
            <!-- Payments component code -->
            <div class=" col-12 padding-lrn cards-comp__wrapper__container__body-wrapper payments-body"
                *ngIf="showPaymentView">
                <app-payments [showTransferFromStep]="'true'" [showTransferToStep]="showTransferToStep"
                    [parentComponentTitle]="parentComponentTitle" [selectedComponentTitle]="selectedComponentTitle"
                    (completeTransactionEvent)="showPaymentToCardView($event)">
                </app-payments>
            </div>
            <!-- Transfers component code -->
            <div class=" col-12 padding-lrn cards-comp__wrapper__container__body-wrapper transfers-body"
                *ngIf="showTransferView">
                <app-money-transfer [showMoneyTransferFromStep]="'true'"
                    [showMoneyTransferToStep]="showMoneyTransferToStep"
                    [showCardsTabInStepFrom]="showCardsTabInStepFrom" [parentComponentTitle]="parentComponentTitle"
                    [selectedComponentTitle]="selectedComponentTitle"
                    (completeTransferEvent)="showMoneyTransferView($event)">
                </app-money-transfer>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>