<div class="forgot-password" *ngIf="title"
    [ngClass]="(selectedLanguage === arabicLanguageText) ? 'forgot-pwd-rtl-layout': ''">
    <div class="title">{{ title | translate}}</div>
    <div class="sub-title" translate>tr_forgot_text</div>
    <div class="row step-wrapper margin-lrn">
        <mat-horizontal-stepper linear #stepperPassword (selectionChange)="stepIndexChanged($event)">
            <ng-template matStepperIcon="edit">
                <mat-icon></mat-icon>
            </ng-template>
            <mat-step label="{{stepperText.cardDetails | translate}}">
                <app-cardnumber-atm-step [alertMessage]="alertMessage" [loginLink]="false"
                    [resetInputValue]="resetInputValue" (nextData)="handleCardNumberStepResponse($event)"
                    (cancelData)="handleCancelButtonClick()">
                </app-cardnumber-atm-step>
            </mat-step>
            <mat-step label="{{stepperText.otp | translate}}">
                <!-- otp step component -->
                <app-forgot-otp-step></app-forgot-otp-step>
            </mat-step>
            <mat-step label="{{stepperText.verifyUsernameStepperText | translate}}"
                *ngIf="title === authConst.forgotHeading;">
                <!-- verify Username step component -->
                <div class="forgot-password__verify-username" *ngIf="userNameFormGroup">
                    <div class="forgot-password__verify-username__title-wrapper">
                        <span class="forgot-password__verify-username__title-wrapper__title"
                            translate>{{forgetPasswordText.verfiyUsernameText | translate}}</span>
                    </div>
                    <div class="forgot-password__verify-username__form">
                        <form [formGroup]="userNameFormGroup" autocomplete="off">
                            <div class="row margin-lrn ghina-account-comp__form__wrapper">
                                <mat-form-field class="col-md-12 padding-lrn">
                                    <mat-label translate>tr_common_userNameLabel</mat-label>
                                    <input autocomplete="off" type="text" matInput formControlName="userName"
                                        maxlength="20" minlength="8" (input)="validateUserName()">
                                    <mat-error>
                                        <app-show-form-errors [control]="userNameFormGroup.get('userName')"
                                            label="tr_common_userNameLabel">
                                        </app-show-form-errors>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                    <div class="forgot-password__verify-username__button__wrapper">
                        <button translate class="forgot-password__verify-username__button btn cancel-btn"
                            (click)="handleCancelButtonClick()" translate>tr_common_cancelText</button>
                        <button (click)="handleVerifyUsername()" translate [disabled]="!userNameFormGroup.valid"
                            class="forgot-password__verify-username__button btn next-btn"
                            translate>tr_common_nextText</button>
                    </div>
                </div>
            </mat-step>
            <mat-step translate label="{{stepperText.resetPasswordStepperText | translate}}">
                <!-- choose password step component -->
                <app-set-password-step (response)="handlePasswordStepResponse($event)" [errorMessage]="errorMessage"
                    (nextData)="handlePasswordStepResponse($event)" (cancelData)="handleCancelButtonClick()">
                </app-set-password-step>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>