<div class="ibd-user-name" *ngIf="enableUsernameComponent"
    [ngClass]="(selectedLanguage === arabicLanguageText) ? 'username-rtl-layout': ''">
    <div class="ibd-user-name__alert-wrapper">
        <div class="ibd-user-name__alert-wrapper__icon">
            <img alt="alert icon" src="/assets/icons/alert.info.svg" /></div>
        <div class="ibd-user-name__alert-wrapper__text" translate>tr_registrationComponent_userNameHint</div>
    </div>
    <div class="ibd-user-name__form">
        <form [formGroup]="userNameFormGroup" class="ghina-account-comp__form" autocomplete="off">
            <div class="row margin-lrn ghina-account-comp__form__wrapper">
                <mat-form-field class="col-md-12 padding-lrn">
                    <mat-label translate>tr_registrationComponent_userNameLabel</mat-label>
                    <input autocomplete="off" type="text" matInput formControlName="userName" maxlength="20"
                        minlength="8" (input)="validateUserName()">
                    <mat-error>
                        <app-show-form-errors [control]="userNameFormGroup.get('userName')"
                            label="tr_registrationComponent_userNameLabel">
                        </app-show-form-errors>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="ibd-user-name__button__wrapper">
        <button translate class="ibd-user-name__button btn cancel-btn" (click)="handleCancelButtonClick()"
            translate>tr_common_cancelText</button>
        <button (click)="handleNextButton()" translate [disabled]="!userNameFormGroup.valid"
            class="ibd-user-name__button btn next-btn" translate>tr_common_nextText</button>
    </div>
    <div class="ibd-user-name__security-tips-wrapper">
        <div class="ibd-user-name__security-tips-wrapper__text">
            <span (click)="handleSecurityTipClick()">
                <img alt="security icon" src="{{ securityIcon }}">
                <span translate>tr_registrationComponent_securityTipsText</span>
            </span>
        </div>
    </div>
</div>