@import "src/assets/styles/default";

.terms-and-condition-com {
  @extend .idb-font-family;
  text-align: left;
  .section-1 {
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    color: $solid-blue;
  }
  .section-2 {
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    color: $solid-blue;
  }
  .section-3 {
    margin: 0px 0px 0px 42px;
    font-size: 10px;
  }
  .section-4 {
    margin: 0px 0px 0px 12px;
    font-size: 10px;
    min-height: 12px;
  }
  .section-5 {
    margin: 0px;
    font-size: 10px;
  }
  .section-6 {
    margin: 0px 0px 0px 12px;
    font-size: 11px;
    font-weight: bold;
    min-height: 13px;
    padding-left: 28px;
  }
  .section-7 {
    margin: 0px 0px 0px 12px;
    font-size: 11px;
    min-height: 13px;
    padding-left: 46px;
  }
  .section-8 {
    margin: 0px 0px 0px 25px;
    font-size: 11px;
    min-height: 13px;
    padding-left: 70px;
    text-indent: -36px;
  }

  span.terms-heading-span {
    white-space: pre;
  }
  table {
    display: table;
    margin: 4px 0 10px 0;
  }
  th {
    background: $solid-blue;
    color: $white;
  }
  th,
  td {
    padding: 5px 12px;
    font-size: 11px;
  }
  .terms-and-condition-com {
    font-size: 12;
    color: #000;
    text-align: center;
    background-color: $white;
    &__header {
      .title {
        color: rgb(26, 40, 88);
        font-size: 14px;
        font-family: $font-light;
        font-weight: 300;
        text-align: left;
        margin-bottom: 16px;
      }
    }
    &__body {
      overflow-y: scroll;
      width: 100%;
      @include respond-to(screen-m-min) {
        height: 486px;
      }
    }
  }
}

.terms-and-condition-com-rtl {
  @extend .idb-font-family;
  direction: rtl;
  text-align: right;
  color: $thin-gray;
  font-size: 8px;
  line-height: 1.2rem;

  span.terms-heading-span {
    white-space: pre;
  }
  table {
    display: table;
    margin: 4px 0 10px 0;
  }
  th {
    background: $solid-blue;
    color: $white;
  }
  th,
  td {
    padding: 5px 12px;
    font-size: 11px;
  }
  .terms-and-condition-com {
    font-size: 12;
    text-align: center;
    background-color: $white;
    &__header {
      .title {
        color: rgb(26, 40, 88);
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 16px;
        direction: rtl;
        text-align: right;
      }
    }
  }
  .acsent {
    direction: rtl;
    text-align: right;
  }
}

.terms-and-condition-body {
  padding-right: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  width: 100%;
  @include respond-to(screen-m-min) {
    height: 486px;
  }
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 2px;
  height: 80px;
}
/* scrollbar thumb handle */
::-webkit-scrollbar-thumb {
  background: $button-grey;
}

::ng-deep .agreement-content {
  p {
    margin: 0;
  }
}
