@import "src/assets/styles/default";

.ibd-demand-draft-transfer-from {
  min-height: 385px;
  position: relative;
  &__wrapper {
    margin-top: 16px;
    @include respond-to(screen-m-min) {
      margin-top: 30px;
    }
    &__buttons {
      width: 100%;
      position: static;
      margin-bottom: 16px;
      button {
        width: 100%;
        margin-top: 16px;
        @include respond-to(screen-m-min) {
          width: 184px;
          min-width: 184px;
          margin-top: 0;
        }
      }
      @include respond-to(screen-m-min) {
        position: static;
        display: flex;
        .next-btn,
        .previous-btn {
          margin-left: 27px;
        }
      }
    }
    .alert-message {
      max-width: 578px;
      @include respond-to(screen-m-min) {
        margin-bottom: 40px;
      }
    }
  }
}

.ibd-demand-draft-transfer-from-rtl {
  .ibd-demand-draft-transfer-from__wrapper {
    .ibd-demand-draft-transfer-from__wrapper__buttons {
      .previous-btn {
        @include respond-to(screen-m-min) {
          margin-left: 27px;
          margin-right: 27px;
        }
      }
    }
  }
}
