@import "src/assets/styles/default";
.ibd-demand-draft {
  &__title {
    @extend .idb-font-family;
    font-size: 16px;
    font-family: $font-regular;
    margin-bottom: 16px;
    @include respond-to(screen-m-min) {
      margin: 12px 0px;
    }
  }
  &__header {
    font-family: $font-light;
    color: $grey;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

:host ::ng-deep mat-horizontal-stepper {
  .mat-horizontal-stepper-header-container {
    @include respond-to(screen-m-min) {
      max-width: 532px;
    }
  }
  .mat-horizontal-stepper-header {
    padding: 0;
    &:first-child {
      padding: 0;
    }
  }
  .mat-horizontal-content-container {
    padding: 28px 0 0 0;
  }
  .ibd-demand-draft__step-wrapper__title {
    color: rgb(141, 141, 141);
    font-family: $font-regular;
    font-size: 16px;
    margin-bottom: 22px;
  }
}

:host ::ng-deep .ibd-demand-draft-rtl {
  .summary-buttons {
    margin-top: 50px;
    .previous-btn {
      @include respond-to(screen-m-min) {
        margin-right: 27px;
      }
    }
  }

  .mat-form-field-right {
    mat-form-field {
      text-align: right;
      text-align: -webkit-right;
    }
  }
}
