@import "src/assets/styles/default";

.otp-message-comp {
  &__wrapper {
    &__title {
      @extend .ibd-small-text;

      font-family: $font-regular;
      font-size: 14px;
      color: $suva-grey;
      margin: 16px 0 24px 0;
      display: inline-block;
    }
    &__inputs {
      &__title {
        @extend .ibd-small-text;

        font-family: $font-regular;
        margin: 0;
        display: block;
      }
      input {
        height: 23px;
        @include respond-to(screen-m-min) {
          display: inline-block;
          width: 380px;
        }
      }
      &__resend {
        margin-top: 28px;
        @include respond-to(screen-m-min) {
          margin-top: unset;
        }
        countdown {
          @extend .ibd-small-text;

          font-family: $font-medium;
          font-size: 14px;
        }
        button {
          @extend .ibd-small-text;
          font-size: 14px;
          color: $cerulean-blue;
          cursor: pointer;
          opacity: 1;
          &:disabled {
            pointer-events: none;
            cursor: default;
            color: $grey;
            opacity: 0.5;
          }
        }
        @include respond-to(screen-m-min) {
          display: inline-block;
          margin-top: 0;
        }
      }
    }
    &__buttons {
      width: 92%;
      position: fixed;
      bottom: 84px;
      .next-btn {
        width: 100%;
        font-size: 14px;
      }
      @include respond-to(screen-m-min) {
        position: static;
        margin-top: 232px;
        .next-btn {
          width: auto;
        }
      }
    }
    &__recatcha {
      display: flex;
      justify-content: center;
    }
    &__nextButtons {
      width: 100%;
      position: static;
      margin-bottom: 16px;
      margin-top: 27px;
      @include respond-to(screen-m-min) {
        margin-top: 33px;
      }
      button {
        width: 48%;
        min-width: 156px;
        &:not(:first-child) {
          margin-left: 4%;
        }
      }
    }
  }
}

.otp-form-rtl {
  .otp-message-comp__wrapper {
    text-align: right;
    text-align: -webkit-right;
    &__inputs {
      input {
        margin-right: -40px;
        margin-left: 35px;
      }
    }
  }
}
