@import "src/assets/styles/default";

.confirm-account-comp {
  &__row {
    &__header {
      @extend .ibd-small-text;

      font-family: $font-regular;
      font-size: 16px;
      color: $suva-grey;
      padding-bottom: 16px;
    }
    &__title {
      @extend .ibd-small-text;
      padding-bottom: 4px;
    }
    &__description {
      @extend .ibd-small-text;

      color: $solid-blue;
      font-family: $font-regular;
      font-size: 16px;
      padding-bottom: 16px;
    }
    &__buttons {
      width: 100%;
      position: fixed;
      bottom: 84px;
      .next-btn {
        margin-left: 16px;
        @include respond-to(screen-m-min) {
          margin-left: 27px;
        }
      }
      @include respond-to(screen-m-min) {
        position: static;
        margin-top: 32px;
      }
    }
  }
  &__otp-wrapper {
    width: 100%;
  }
}

.confirm-bene-rtl {
  text-align: right;
  text-align: -webkit-right;
  .confirm-account-comp__row__buttons {
    display: flex;
    .next-btn {
      margin-right: 16px;
      margin-left: 0px;
      @include respond-to(screen-m-min) {
        margin-right: 27px;
      }
    }
  }
}
