@import "src/assets/styles/default";

.change-password {
  position: absolute;
  top: 56px;
  height: auto;
  width: 100%;
  @include respond-to(screen-m-min) {
    width: calc(100% - 92px);
    top: 92px;
    left: 92px;
  }
  @include respond-to(screen-xl-min) {
    max-width: 650px;
  }
  &__wrapper {
    padding: 16px;
    margin-bottom: 68px;
    @include respond-to(screen-m-min) {
      padding: 38px 38px 0 38px;
    }
    @include respond-to(screen-l-min) {
      padding: 37px 41px 0 41px;
    }
    &__title {
      font-family: $font-regular;
      color: $grey;
      font-size: 14px;
      padding-bottom: 30px;

      @include respond-to(screen-m-min) {
        padding-bottom: 30px;
      }
    }
    .change-password__form {
      .current-password {
        margin-bottom: 17px;
        @include respond-to(screen-m-min) {
          margin-bottom: 25px;
        }
      }
      margin-top: 16px;
      @include respond-to(screen-m-min) {
        width: 453px;
        margin-top: 24px;
      }
      @include respond-to(screen-l-min) {
        margin-top: 32px;
      }
      &__visiblity-icon {
        float: right;
        position: absolute;
        right: 5px;
      }

      &__hint-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        flex-wrap: wrap;
        width: 100%;
        @include respond-to(screen-m-min) {
          margin-bottom: 40px;
          flex-wrap: wrap;
        }

        &__hint {
          width: 35%;
          display: flex;
          margin-top: 16px;
          &__icon {
            width: 9px;
            height: 9px;
            background-color: $step-gray;
            border-radius: 50%;
            margin-right: 5px;
            align-self: center;
            &.valid-fill {
              background-color: $valid-green;
            }
          }
          &__text {
            color: $suva-grey;
            font-family: $font-regular;
            font-size: 12px;
            font-weight: normal;
            line-height: 18px;
            &.valid {
              color: $valid-green;
            }
          }
        }
        &__long-hint {
          width: 55%;
          display: flex;
          margin-top: 16px;
          &__icon {
            width: 9px;
            height: 9px;
            background-color: $step-gray;
            border-radius: 50%;
            margin-right: 5px;
            align-self: center;
          }
          &__text {
            color: $suva-grey;
            font-family: $font-regular;
            font-size: 12px;
            font-weight: normal;
            line-height: 18px;
          }
        }
      }
    }
    .change-password__button__wrapper {
      width: 100%;
      position: static;
      margin-top: 20px;
      @include respond-to(screen-m-min) {
        margin-top: 30px;
      }
      button {
        width: 100%;
        margin-top: 16px;
        @include respond-to(screen-m-min) {
          width: 213px;
          min-width: 213px;
          margin-top: 0;
        }
      }
      @include respond-to(screen-m-min) {
        position: static;
        display: flex;
        .next-btn {
          margin-left: 27px;
        }
      }
    }
    .change-password__otp {
      margin-top: 16px;
    }
  }
}

:host ::ng-deep app-otp {
  .otp-message-comp {
    @include respond-to(screen-m-min) {
      width: 465px;
    }
  }
  .otp-message-comp__wrapper__title {
    text-align: center;
  }
}

:host ::ng-deep .change-password-success {
  .success-screen-comp {
    padding-left: 0;
    padding-right: 0;
  }
}
