@import "src/assets/styles/default";

.login-component {
  .title {
    color: $button-gray;
    font-size: 16px;
    text-align: center;
    font-family: $font-regular;
    @include respond-to(screen-m-min) {
      font-size: 22px;
    }
  }
  &__title {
    font-family: $font-regular;
    font-size: 16px;
    color: $button-gray;
    margin: 20px 0;
    text-align: center;
    @include respond-to(screen-m-min) {
      margin: 24px 0;
      font-size: 18px;
    }
  }
  .sub-title {
    color: $grey;
    font-size: 12px;
    font-family: $font-light;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    @include respond-to(screen-m-min) {
      font-size: 14px;
    }
  }
  &__info-wrapper {
    background: #f2fbff;
    border-radius: 16px;
    border: 1px solid $cerulean-blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.02);
    padding: 15px 14px 14px 44px;
    font-family: $font-light;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    margin-bottom: 24px;
    color: $button-gray;
    .error-text {
      display: none;
    }
    .note-text {
      margin: 6px 0;
      .note {
        color: $solid-blue;
        font-family: $font-medium;
      }
    }
    .registration-link {
      font-family: $font-regular;
      color: $cerulean-blue;
      cursor: pointer;
    }
    &::before {
      content: " ";
      display: inline-block;
      background-image: url("/assets/icons/info-blue-icon@2x.svg");
      height: 24px;
      width: 24px;
      position: absolute;
      left: 10px;
    }
    &.error {
      background-color: $light-red;
      border: 1px solid $danger;
      &::before {
        background-image: url("/assets/icons/error-info-icon@2x.svg");
      }
      .error-text {
        display: block;
        color: $danger;
        font-family: $font-regular;
      }
      &.error-container {
        display: block;
      }
    }
    &.error-container {
      display: none;
    }
  }
  &__wrapper {
    justify-content: center;
    &__form {
      width: 100%;
      input {
        color: $solid-blue;
      }
      mat-hint {
        margin-top: 13px;
        cursor: pointer;
      }
      &__buttons {
        margin-top: 40px;
        width: 100%;
        button {
          width: 100%;
        }
      }
      .password-field {
        margin-top: 8px;
      }
    }
    &__signup {
      margin-top: 12px;
      @include respond-to(screen-m-min) {
        margin-top: 16px;
      }
      font-family: $font-regular;
      font-size: 12px;
      text-align: center;
      color: $grey;
      cursor: default;
      .link {
        color: $cerulean-blue;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    &__recatcha {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }
  &.login-rtl-layout {
    direction: rtl;
    .login-component__info-wrapper {
      padding: 15px 44px 14px 14px;
      text-align: right;
      &::before {
        left: unset;
        right: 10px;
      }
    }
    mat-form-field {
      text-align: right;
      mat-hint {
        margin-left: unset;
        margin-right: auto;
      }
    }
  }
}
.login-component-otp-title {
  color: $button-gray;
  font-size: 16px;
  text-align: center;
  font-family: $font-regular;
  margin-bottom: 12px;
}

:host ::ng-deep .login-rtl-layout {
  app-input-generic {
    .input-title {
      text-align: right;
    }
    .pin-input-wrapper input,
    .card-input-wrapper input {
      direction: ltr;
    }
    .mat-form-field-infix {
      text-align: right;
      direction: ltr;
    }
  }
  .next-btn {
    margin-right: 4%;
    margin-left: 0 !important;
  }
}

.mat-form-field-hint-wrapper {
  mat-hint {
    margin-left: auto;
    margin-top: 30px;
  }
}
