<div class="row transfers-payments-list no-gutters"
    [ngClass]="[showAll ? 'show-all-cards' : '', selectedLanguage === arabicLanguageText ? 'bene-list-rtl-layout': '']">
    <div class="col-sm-12 btn-wrapper" [ngClass]="{'search-box-container' : showAll}">
        <span class="title" *ngIf="!showAll" translate>tr_beneList_favBeneText</span>
        <span class="title" *ngIf="showAll" translate>tr_beneList_allBeneText</span>
        <div class="search-box-wrapper">
            <input type="text" [(ngModel)]="searchText" appAlphaNumeric (input)="onSearchChange($event.target.value)"
                placeholder="Search" *ngIf="showAll">
            <button class="btn view-all view-all-btn" *ngIf="showViewAllLink" (click)="showAllBeneficiary()"
                translate>tr_common_viewAllText</button>
            <button class="btn" routerLink="{{benefiaciaryRoutingURL}}">{{labelConst.addBeneficiary | translate}}
                <img alt="add icon" src="{{iconsConst.addIcon}}"></button>
        </div>
    </div>
    <div class="col-sm-12 card-wrapper " [ngClass]="{'show-all-cards' : showAll}" (scroll)="moveScroll(undefined)"
        #beneScrollContainer>
        <div class="card" *ngFor='let item of formatedBeneList'
            [ngClass]="(item.status === 'INACTIVE') ? 'inactive-beneficiary': ''">

            <!-- card html starts here -->
            <div class="beneficiary-container">
                <div class="row no-gutters">
                    <div class="col-12">
                        <span class="verify"><img alt="inactive"
                                src="{{item.status === 'INACTIVE'? iconsConst.inActiveBen: iconsConst.verifyIcon}}" /></span>
                        <div class="title">{{item.nickName}}</div>
                        <div class="setting">
                            <app-menu-option [item]="item" [menuOptions]="menuOptions"
                                (clickedItem)="menuClickHandler($event)" class="beneficiry-setting-menu">
                            </app-menu-option>
                        </div>
                        <div class="favorite " (click)="markFavorite(item.isFavourite,item.beneID)">
                            <div class="status-icon {{item.isFavourite}}"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters detail-wrapper" (click)="moveToMoneyTransferView(item)">
                    <div class="col-11 details-text">
                        <div class="bank-label" *ngIf="item.beneExtAccType === accountTypes.MOBILE">
                            <div class="bank-name" translate>
                                tr_common_adibText
                            </div>
                            <div class="account-label" translate>tr_common_mobileNumberText
                            </div>
                        </div>
                        <div class="bank-label" *ngIf="item.beneExtAccType  !== accountTypes.MOBILE">
                            <div class="bank-name">
                                {{item.beneBankName}} <span *ngIf="item.beneBankCountryName">({{item.beneBankCountryName}})</span>
                            </div>
                            <div class="account-label">
                                <span *ngIf="!item.iban && item.beneExtAccType === 'Account'"
                                    translate>tr_common_accountNumberText</span>
                                <span *ngIf="item.iban && item.beneExtAccType === 'Account'"
                                    translate>tr_common_ibanNumberText</span>
                                <span *ngIf="item.beneExtAccType !== 'Account'"
                                    translate>tr_common_cardNumberText</span>
                            </div>
                        </div>
                        <div class="account-number"> {{item.beneAccNo}}</div>
                    </div>
                    <div class="col-1 detail-icon">
                        <img alt="detail-icon" src="{{ item.status === 'INACTIVE' ? iconsConst.inActiveBack: iconsConst.detailIcon}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 padding-lrn" *ngIf="!formatedBeneList || (formatedBeneList && !formatedBeneList?.length)">
            <div class="no-beneficiary-wrapper" *ngIf="!showAll">
                <span class="icon"><img alt="info icon" src="{{iconsConst.infoIcon}}" /> </span>
                <span class="message" translate> tr_beneList_noBeneficiaryFoundText </span>
            </div>
            <!-- no search criteria text container -->
            <div class="no-beneficiary-wrapper" *ngIf="showAll">
                <span class="icon"><img alt="info icon" src="{{iconsConst.infoIcon}}" /> </span>
                <span class="message" translate> tr_beneList_noBenSearchFoundText </span>
            </div>
        </div>
    </div>

    <!-- Navigation controller code starts here -->
    <div class="transfers-payments-list__navigation-wrapper col-sm-12" *ngIf="hideBeneNavigationControlls"
        #beneScrollContainer>
        <button class="transfers-payments-list__navigation-wrapper__btn" [disabled]="disablePreviousBtn"
            (click)="moveScroll('backward')">
            <img class="transfers-payments-list__navigation-wrapper__btn__prev" src="{{iconsConst.prevIcon}}"
                alt="Previous_Icon">
        </button>
        <button class="transfers-payments-list__navigation-wrapper__btn" [disabled]="disableNextBtn"
            (click)="moveScroll('forward')">
            <img class="transfers-payments-list__navigation-wrapper__btn__next" src="{{iconsConst.nextIcon}}"
                alt="Next_Icon">
        </button>
        <span class="view-all" *ngIf="showViewAllLink" (click)="showAllBeneficiary()">{{labelConst.viewAll}}</span>
    </div>
</div>