@import "src/assets/styles/default";

.ibd-payorder-beneficiary-details {
  min-height: 385px;
  position: relative;
  &__wrapper {
    margin-top: 32px;
    @include respond-to(screen-m-min) {
      margin-top: 44px;
    }
    &__form {
      width: 100%;
      @include respond-to(screen-m-min) {
        max-width: 453px;
      }
      .row {
          margin-bottom:30px ;
      }
    }
    &__buttons {
      width: 91%;
      position: fixed;
      bottom: 20px;
      @include respond-to(screen-m-min) {
        width: 100%;
      }
      @include respond-to(screen-land) {
        position: static;
      }
      button {
        width: 100%;
        margin-top: 16px;
        @include respond-to(screen-m-min) {
          width: 184px;
          min-width: 184px;
          margin-top: 0;
        }
      }
      @include respond-to(screen-m-min) {
        position: static;
        display: flex;
        .next-btn,
        .previous-btn {
          margin-left: 27px;
        }
      }
    }
    .alert-message {
      max-width: 578px;
      @include respond-to(screen-m-min) {
        margin-bottom: 40px;
      }
    }
  }
}