<div class="row margin-lrn marketing-banner"
    [ngClass]="(selectedLanguage === arabicLanguageText) ? 'marketing-banner-rtl-layout': ''">
    <div class="col-2 col-md-1 col-lg-1 padding-lrn marketing-banner__icon"><img alt= "banner"
            class="marketing-banner__icon__img-icon" src="/assets/icons/ic.apple-pay@2x.svg" /></div>
    <div class="col-7 col-md-8 col-lg-9 padding-lrn marketing-banner__content">
        <div class="marketing-banner__content__title" translate>tr_marketingBanner_titleText</div>
        <div class="marketing-banner__content__description" translate>tr_marketingBanner_descText</div>
    </div>
    <div class="col-3 col-md-3 col-lg-2 padding-lrn marketing-banner__link" translate>tr_common_applyNowText</div>
</div>