<section class="transfer-from-comp col-12 padding-lrn"
    [ngClass]="(selectedLanguage === arabicLanguageText) ? 'transfer-from-rtl': ''">
    <div class="transfer-from-comp__wrapper">
        <div *ngIf="!isPaymentToCoverCard">
            <app-checkbox-generic [optionsList]="selectFromOptionList"
                [preSelectedOption]="showCardsPayBillsView?'CARDS':'ACCOUNT'" componentName="selectionFromOption"
                (selectedOptionValue)="selectedTransferFromOption($event)" customClassName="active-blue"
                class="transfer-from-generic-checkbox"
                [ngClass]="(selectedLanguage === arabicLanguageText) ? 'transfer-from-checkbox-rtl': ''">
            </app-checkbox-generic>
        </div>
        <div *ngIf="showAccountsCheckbox">
            <app-account-checkbox [checkBoxAccountsList]="updatedAccountsList" componentName="accountCheckBox"
                (selectedAccountOption)="selectedAccount($event)" [preSelectedValue]="selectedAccountNumber">
            </app-account-checkbox>
        </div>
        <div *ngIf="!showAccountsCheckbox && showCardsCheckbox">
            <app-checkbox-card [checkBoxCoverCardList]="coverCardsList" componentName="cardsCheckBox"
                (selectedCardOption)="selectedCard($event)">
            </app-checkbox-card>
        </div>
        <div class="alert-message" *ngIf="showAlertMessage">
            {{accountAlertText | translate}}.
        </div>
        <div class="transfer-from-comp__wrapper__buttons">
            <button class="btn cancel-btn" type="button" (click)="cancelTransaction(true)"
                translate>tr_common_cancelTransactionText</button>
            <button matStepperNext class="btn next-btn" type="button" [disabled]="!enableNextBtn"
                (click)="moveToNextStep()" translate>tr_common_nextText</button>
        </div>
    </div>
</section>