@import "src/assets/styles/default";

.ibd-account-list {
  padding: 12px 16px 12px 16px;

  @include respond-to(screen-m-min) {
    padding: 16px 16px 17px 0;
  }

  @include respond-to(screen-l-min) {
    padding: 14px 15px 20px 0;
  }
  &.account-list-rtl-layout {
    @include respond-to(screen-m-min) {
      padding: 16px 0 17px 16px;
    }

    @include respond-to(screen-l-min) {
      padding: 14px 0 20px 15px;
    }
    .ibd-account-list__btn-wrapper__title {
      float: right;
      @include respond-to(screen-m-min) {
        padding-right: 38px;
      }
      @include respond-to(screen-l-min) {
        padding-right: 51px;
      }
    }
    .ibd-account-list__btn-wrapper__btn {
      float: left;
      direction: ltr;
    }
    .ibd-account-list__card-wrapper__card__account-container {
      text-align: right;
      .ibd-account-list__card-wrapper__card__fund {
        direction: ltr;
        &::after {
          margin-left: auto;
        }
      }
    }
    .ibd-account-list__navigation-wrapper,
    .ibd-account-list__card-wrapper__card__top-wrapper__account-type {
      direction: ltr;
    }
    .ibd-account-list__card-wrapper {
      @include respond-to(screen-m-min) {
        padding-right: 28px;
        padding-left: 0;
      }
      @include respond-to(screen-l-min) {
        padding: 10px 41px 20px 0;
      }
      &__card {
        margin-left: 27px;
        margin-right: 0;
        &:first-child {
          margin-right: 5px;
          @include respond-to(screen-m-min) {
            margin-right: 10px;
          }
          @include respond-to(screen-xl-min) {
            margin-right: 4px;
          }
        }
        &:last-child {
          margin-left: 5px;
        }
        &__cc-container {
          text-align: right;
          .ibd-account-list__card-wrapper__card__ctaLink {
            &::after {
              left: -14px;
              right: unset;
              transform: rotate(180deg);
              height: 10px;
            }
          }
        }
      }
      &__no-account-wrapper {
        padding: 10px 0 10px 10px;
      }
    }
  }
  &__btn-wrapper {
    padding-bottom: 12px;

    &__title {
      @extend .ibd-small-text;

      font-size: 14px;
      font-family: $font-regular;
      float: left;
      @include respond-to(screen-m-min) {
        padding-left: 38px;
      }
      @include respond-to(screen-l-min) {
        padding-left: 51px;
      }
    }

    &__btn {
      @extend .ibd-small-text;

      border: 1px dashed $grey;
      font-family: $font-regular;
      letter-spacing: 0.2px;
      height: 30px;
      min-width: 120px;
      border-radius: 12px;
      float: right;
      border-style: dashed;
      background: $white;
      outline: none;
      padding: 0 13px;

      img {
        margin-left: 9px;
        height: 16px;
        width: 16px;
      }
    }
  }

  &__card-wrapper {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    padding-bottom: 16px;
    @include respond-to(screen-m-min) {
      padding-bottom: 20px;
      padding-left: 28px;
    }
    @include respond-to(screen-l-min) {
      padding: 10px 10px 20px 41px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
    // mozilla browser
    overflow: -moz-scrollbars-none;

    // IE and Edge browser suppert
    -ms-overflow-style: none;
    scrollbar-width: none;

    &__card {
      background: $white;
      border-radius: 16px;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
      min-width: 193px;
      max-width: 193px;
      height: 180px;
      margin-right: 27px;
      &:first-child {
        margin-left: 5px;
        @include respond-to(screen-m-min) {
          margin-left: 10px;
        }
        @include respond-to(screen-xl-min) {
          margin-left: 4px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &__account-container {
        padding: 16px 12px 14px 16px;
        &:hover {
          background: $cerulean-blue;
          border-radius: 16px;
          box-shadow: 0px 2px 30px 0px rgba(2, 178, 255, 0.12);
          cursor: pointer;
          div,
          span {
            color: $white;
            &::after {
              border-color: $white;
            }
          }
          @include respond-to(screen-xl-min) {
            transform: scaleY(1.1);
          }
        }
      }

      &__cc-container {
        padding: 10px 12px 16px 16px;
      }

      @include respond-to(screen-l-min) {
        &__account-container {
          padding: 14px 12px 16px 16px;
        }
      }

      @include respond-to(screen-xl-min) {
        margin-right: 47px;
      }
      &__top-wrapper {
        height: 96px;
        &__account-type {
          @extend .ibd-small-text;

          @include respond-to(screen-m-min) {
            font-size: 13px;
          }
        }
        &__account-number {
          @extend .ibd-small-text;

          font-size: 14px;
          font-family: $font-regular;
          padding: 5px 0 0 0;
          &::after {
            content: " ";
            border: solid 1px $cerulean-blue;
            display: block;
            width: 25px;
            margin-top: 6px;
            @include respond-to(screen-m-min) {
              width: 30px;
            }
          }

          @include respond-to(screen-m-min) {
            font-size: 16px;
          }
        }
      }

      &__available-text {
        @extend .ibd-small-text;

        @include respond-to(screen-m-min) {
          font-size: 13px;
        }
      }
      &__fund {
        @extend .ibd-medium-text;

        color: $solid-blue;
        font-family: $font-medium;
        &::after {
          content: " ";
          border: solid 1px $grey;
          display: block;
          width: 25px;
          margin-top: 6px;
          opacity: 0.2;
          @include respond-to(screen-m-min) {
            width: 30px;
          }
        }

        &__digit {
          overflow: hidden;
          max-width: 68%;
          display: inline-flex;
        }

        &__currency,
        &__decimal {
          @extend .ibd-small-text;

          font-family: $font-medium;
          color: $suva-grey;
        }

        @include respond-to(screen-m-min) {
          font-size: 20px;
        }
      }
      &__ccTitle {
        @extend .ibd-medium-text;

        color: $solid-blue;
        font-family: $font-medium;
        padding-top: 6px;
        line-height: 26px;
        @include respond-to(screen-m-min) {
          font-size: 20px;
        }
      }
      &__ccSubTitle {
        @extend .ibd-small-text;

        padding-top: 6px;
        line-height: normal;
      }
      &__cardImg {
        height: 30px;
        width: 40px;
        object-fit: cover;
      }
      &__ctaLink {
        @extend .cta-link-btn;

        padding-top: 19px;
        line-height: normal;
        &:before {
          width: 30px;
          bottom: -11px;
          opacity: 0.2;
        }
        &:after {
          bottom: 3px;
        }
      }
    }
    &__c_card {
      border: 1px solid $light-grey;
      box-shadow: none;
      pointer-events: none;
    }

    &__no-account-wrapper {
      background: $white;
      border-radius: 16px;
      border: 1px solid $bright-gray;
      display: flex;
      align-items: center;
      padding: 10px 10px 10px 0px;
      margin-bottom: 20px;
      margin-top: 20px;

      @include respond-to(screen-m-min) {
        height: 47px;
        width: 589px;
        margin-top: 35px;
        margin-bottom: 40px;
      }

      @include respond-to(screen-l-min) {
        margin-top: 20px;
      }
      .icon {
        @include respond-to(screen-m-min) {
          height: 17px;
          width: 17px;
        }
        height: 32px;
        width: 32px;
        margin: 0px 12px 0px 18px;
        img {
          vertical-align: top;
          width: 100%;
          height: auto;
        }
      }
      .message {
        color: $active-blue;
        font-family: $font-light;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0px;
      }
    }
  }
  &__navigation-wrapper {
    text-align: center;

    &__btn {
      &:first-child {
        margin-right: 8px;
      }
      height: 25px;
      width: 25px;
      background-color: $grey;
      border-radius: 50%;
      opacity: 0.3;
      outline: none;
      border: none;
      line-height: 21px;
      &:active,
      &:focus {
        border: none;
      }

      img {
        margin-bottom: 2px;
      }
      &__next {
        margin-left: 2px;
      }
      &__prev {
        margin-right: 2px;
      }
      &:disabled {
        pointer-events: none;
        cursor: not-allowed;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

.medium-font {
  font-size: 16px;
  @include respond-to(screen-l-min) {
    font-size: 17px;
  }
}